.footer-overflow-container {
        display: flex;
        background-color: #000000;
        position: relative;
    }

.footer-container {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding: 6px;
    }

.footer-pill-link {
        appearance: none;
        text-decoration: none;
    }

.footer-pill {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
        border: none;
        background: none;
        padding: 4px 8px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
        white-space: nowrap;
        text-decoration: none;
        font-weight: 600;
        font-style: normal;
        font-size: calc(12px * var(--rfso, var(--bfso, 1)));
        color: #ffffff;
        transition: background-color 0.2s;
    }

.footer-pill:hover {
        cursor: pointer;
    }

.footer-pill-end {
        margin-left: auto;
    }

.footer-pill-primary {
        position: relative;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.1);
    }

.footer-pill-primary:hover > .footer-pill-primary-background {
        opacity: 1;
    }

.footer-pill-primary-background {
        position: absolute;
        z-index: -1;
        border-radius: 1000px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #00C4CC 0%, #7D2AE8 100%);
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.2s;
    }

/* Subtle wipe effect */
    .footer-pill-primary-background::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to right, rgba(125, 42, 232, 0) 0%, #1a1a1a calc(50px + 20%), #1a1a1a 100%);
        transform: translateX(0);
        transition: transform 0.7s;
    }

.footer-pill-primary:hover > .footer-pill-primary-background::after {
        transform: translateX(110%);
    }

.footer-pill-primary-background > svg {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform-origin: center;
        transform: translateY(-50%);
        width: 100%;
    }

.footer-pill-primary:hover > .footer-pill-primary-background .animation-container {
        animation-play-state: running;
    }

.footer-pill-secondary {
        background-color: rgba(255, 255, 255, 0);
    }

.footer-pill-secondary:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

.footer-pill-secondary:active, .footer-pill-secondary.active {
        background-color: rgba(255, 255, 255, 0.15)
    }

.modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        transition: opacity 0.35s, visibility 0.35s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

.modal-backdrop.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

.report-form-modal {
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 6px;
        width: 367px;
        transform: translate3d(0, calc(-100% + 24px), 0);
        z-index: 10000;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
        background-color: #ffffff;
        border-radius: 8px;
        margin: 0;
        box-shadow: 0px 2px 18px 0px rgba(14, 19, 24, 0.25), 0px 0px 1px 0px rgba(14, 19, 24, 0.02);
        transition-duration: 0.35s;
        transition-property: opacity, transform, visibility;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

.report-form-modal.active {
        transform: translate3d(0, calc(-100% + 8px), 0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }