@font-face{/*savepage-font-display=block*/font-family:calibrate;src:/*savepage-url=images/b46630e470f4040eba7033cf2435edce.woff*/url() format("woff")}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/a9b8e7902ec1ab885d382156f33738e5.woff2*/url() format("woff2"),/*savepage-url=images/013277426f0d555d96c7a75503df5754.woff*/url() format("woff");unicode-range:u+00b1-00b3,u+00b9,u+00bc-00be,u+0394,u+03a9,u+03bc,u+03c0,u+2044,u+2070,u+2074-2089,u+2126,u+212e,u+2153-2154,u+215b-215e,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+2219,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+25ca}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/d97a6ffa507b670a5b1664f98fc1183d.woff2*/url() format("woff2"),/*savepage-url=images/1de7434d86166b0614ff3d61cda11a54.woff*/url() format("woff");unicode-range:u+00a1,u+00aa-00ab,u+00af,u+00b8,u+00ba-00bb,u+00bf,u+00c0-00d6,u+00d8-00f6,u+00f8-0148,u+014a-017e,u+0192,u+01b5-01b6,u+01fc-01fd,u+0218-021b,u+0237,u+02c6-02c7,u+02c9,u+02d8-02dd,u+1e80-1e85,u+1e9e,u+1ef2-1ef3,u+2030,u+2039-203a,u+20ac,u+20ba,u+2113}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/cff149ee1e9d2be50ac77bcd86769d05.woff2*/url() format("woff2"),/*savepage-url=images/f93a5165fac252ecfd593929c4e6146f.woff*/url() format("woff");unicode-range:u+0020-007e,u+00a0,u+00a2-00a9,u+00ac-00ae,u+00b0,u+00b4-00b7,u+00d7,u+00f7,u+0300-0304,u+0306-0308,u+030a-030c,u+0312,u+0326-0328,u+2013-2014,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2117,u+2120,u+2122,u+2190-2199,u+fb01-fb02,u+feff,u+fffc-fffd}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans Variable;font-style:normal;font-weight:125 950;src:/*savepage-url=images/621675e6be83f675d33562d2ff7a0f63.woff2*/url() format("woff2");unicode-range:u+06??}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans Variable;font-style:normal;font-weight:125 950;src:/*savepage-url=images/762fe37b99d49707e783d6281412d12f.woff2*/url() format("woff2");unicode-range:u+0590-05ff}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/d83221ee6a6841b17a754f68b6c5a3de.woff2*/url() format("woff2");unicode-range:u+0900-097f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/e237b20d624e9275cdc02a523ab7f983.woff2*/url() format("woff2");unicode-range:u+0900-097f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/3b5447850810ff964de17bcd37e03d5a.woff2*/url() format("woff2");unicode-range:u+0900-097f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/a13025bc22c0d623507f155005c54563.woff2*/url() format("woff2"),/*savepage-url=images/ad480883f297c3606af00979ee4c4483.woff*/url() format("woff");unicode-range:u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/477aad26d9a5a64609483931aa0a7a05.woff2*/url() format("woff2"),/*savepage-url=images/0e2be7bf67e32755fd73a605a2afd13b.woff*/url() format("woff");unicode-range:u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/85b2d625d97d50571765987bbac33850.woff2*/url() format("woff2"),/*savepage-url=images/3f03afd80eaf13ee58a7d0945b7d0963.woff*/url() format("woff");unicode-range:u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/02bba2de1b5f7fc3b564b21521e774d0.woff2*/url() format("woff2"),/*savepage-url=images/163124370f3e2ded710887a156ab3fa3.woff*/url() format("woff");unicode-range:u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/0b41617d3a05bbbe23065ec719e26fd1.woff2*/url() format("woff2"),/*savepage-url=images/650cef2d886ef4ca5c18d3c107546daf.woff*/url() format("woff");unicode-range:u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/d4b0974727cae80b9c6d087e56a9a4e4.woff2*/url() format("woff2"),/*savepage-url=images/771cbf29ddc3145dda326afee4b10fb8.woff*/url() format("woff");unicode-range:u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/6c9b9f4b28322c7473667e0fc1690675.woff2*/url() format("woff2"),/*savepage-url=images/79359a454d1de78942f3c2c687fc67ea.woff*/url() format("woff");unicode-range:u+1f??}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/a8f52f1cd47135bfc86b1f313868708d.woff2*/url() format("woff2"),/*savepage-url=images/e3e13973dcf74ace522a4b8ef447a7de.woff*/url() format("woff");unicode-range:u+1f??}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/ca4237378da57e1e318978281e7fee60.woff2*/url() format("woff2"),/*savepage-url=images/d7669ff2d0106ad99a7a55c4d540478c.woff*/url() format("woff");unicode-range:u+1f??}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/d56fc13fe0dc1327dceed816b07dbec3.woff2*/url() format("woff2"),/*savepage-url=images/311ec631b3b3a7f88c724351af8bcef4.woff*/url() format("woff");unicode-range:u+0370-03ff}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/c9972caeca3358fa2841a115105a8544.woff2*/url() format("woff2"),/*savepage-url=images/c3a91206711602c9b5f54e9514244e64.woff*/url() format("woff");unicode-range:u+0370-03ff}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/dafb7fee1db6b7ae9b1184239b11acf5.woff2*/url() format("woff2"),/*savepage-url=images/d6cbb5c42a1149e38e1fb7a238032bc8.woff*/url() format("woff");unicode-range:u+0370-03ff}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/964b01a520402dcf8405de90289c35f4.woff2*/url() format("woff2"),/*savepage-url=images/4badd42f0e1cdba66ffbd5cc91aa4365.woff*/url() format("woff");unicode-range:u+017f,u+01f0,u+01fa-01fb,u+01fe-01ff,u+1e00-1e01,u+1e3e-1e3f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:600;src:/*savepage-url=images/58cf708f2cc4d2b3bbf7e6add25f5c20.woff2*/url() format("woff2"),/*savepage-url=images/4f9f09e9c9bc053cc21f7cf7f5590904.woff*/url() format("woff");unicode-range:u+017f,u+01f0,u+01fa-01fb,u+01fe-01ff,u+1e00-1e01,u+1e3e-1e3f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans;font-style:normal;font-weight:700;src:/*savepage-url=images/4bdcf0ce1296b448409c024e57fdcdb9.woff2*/url() format("woff2"),/*savepage-url=images/005dabb12cdb5c5deabd1782c3ff196d.woff*/url() format("woff");unicode-range:u+017f,u+01f0,u+01fa-01fb,u+01fe-01ff,u+1e00-1e01,u+1e3e-1e3f}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans Vietnamese;font-style:normal;font-weight:400;src:/*savepage-url=images/f4113bb9d3def37ca7f5c7cd2341ec33.woff2*/url() format("woff2"),/*savepage-url=images/614a39a4813512a63e905b12dc5f41ba.woff*/url() format("woff");unicode-range:u+0020-005f,u+0061-007a,u+007c,u+00a0,u+00a7,u+00a9,u+00c0-00c3,u+00c8-00ca,u+00cc-00cd,u+00d2-00d5,u+00d9-00da,u+00dd,u+00e0-00e3,u+00e8-00ea,u+00ec-00ed,u+00f2-00f5,u+00f9-00fa,u+00fd,u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0303,u+0306,u+0309,u+031b,u+0323,u+1ea0-1ef9,u+2010-2011,u+2013-2014,u+2018-2019,u+201c-201d,u+2020-2021,u+2026,u+2030,u+20ab}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans Vietnamese;font-style:normal;font-weight:600;src:/*savepage-url=images/5989cf357de7427311e30576891372df.woff2*/url() format("woff2"),/*savepage-url=images/b3571e313b47ed988fc8429322af7677.woff*/url() format("woff");unicode-range:u+0020-005f,u+0061-007a,u+007c,u+00a0,u+00a7,u+00a9,u+00c0-00c3,u+00c8-00ca,u+00cc-00cd,u+00d2-00d5,u+00d9-00da,u+00dd,u+00e0-00e3,u+00e8-00ea,u+00ec-00ed,u+00f2-00f5,u+00f9-00fa,u+00fd,u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0303,u+0306,u+0309,u+031b,u+0323,u+1ea0-1ef9,u+2010-2011,u+2013-2014,u+2018-2019,u+201c-201d,u+2020-2021,u+2026,u+2030,u+20ab}

@font-face{/*savepage-font-display=swap*/font-family:Noto Sans Vietnamese;font-style:normal;font-weight:700;src:/*savepage-url=images/5d050a324d95a6a18dae93e08c01bd6b.woff2*/url() format("woff2"),/*savepage-url=images/08f3a04653878f9b2369ec3c327d7c46.woff*/url() format("woff");unicode-range:u+0020-005f,u+0061-007a,u+007c,u+00a0,u+00a7,u+00a9,u+00c0-00c3,u+00c8-00ca,u+00cc-00cd,u+00d2-00d5,u+00d9-00da,u+00dd,u+00e0-00e3,u+00e8-00ea,u+00ec-00ed,u+00f2-00f5,u+00f9-00fa,u+00fd,u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0303,u+0306,u+0309,u+031b,u+0323,u+1ea0-1ef9,u+2010-2011,u+2013-2014,u+2018-2019,u+201c-201d,u+2020-2021,u+2026,u+2030,u+20ab}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/e755c8eab4133359c241132063a279d0.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/0c4fa4c622644d97f38d201cba1d30f5.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/a47b96672d775073beaf93b7e7ffff54.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+1f??}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/7aed216c4e61d12ee639b0b758037c5d.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+0370-03ff}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/eafec10d3f23f994fb6dc59545035460.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+1ea0-1ef9,u+20ab}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/6923b1967484e2b12e1016fb33061791.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff}

@font-face{/*savepage-font-display=swap*/font-family:Open Sans;font-style:normal;font-weight:400;src:/*savepage-url=images/ff9d619b59f5cb3529b100448f398ac5.woff2*/url() format("woff2"),/*savepage-url=images/89ba4e29dc7a63cd15959a5bb068bb0e.woff*/url() format("woff");unicode-range:u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/a9b8e7902ec1ab885d382156f33738e5.woff2*/url() format("woff2"),/*savepage-url=images/013277426f0d555d96c7a75503df5754.woff*/url() format("woff");unicode-range:u+00b1-00b3,u+00b9,u+00bc-00be,u+0394,u+03a9,u+03bc,u+03c0,u+2044,u+2070,u+2074-2089,u+2126,u+212e,u+2153-2154,u+215b-215e,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+2219,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+25ca}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/d97a6ffa507b670a5b1664f98fc1183d.woff2*/url() format("woff2"),/*savepage-url=images/1de7434d86166b0614ff3d61cda11a54.woff*/url() format("woff");unicode-range:u+00a1,u+00aa-00ab,u+00af,u+00b8,u+00ba-00bb,u+00bf,u+00c0-00d6,u+00d8-00f6,u+00f8-0148,u+014a-017e,u+0192,u+01b5-01b6,u+01fc-01fd,u+0218-021b,u+0237,u+02c6-02c7,u+02c9,u+02d8-02dd,u+1e80-1e85,u+1e9e,u+1ef2-1ef3,u+2030,u+2039-203a,u+20ac,u+20ba,u+2113}

@font-face{/*savepage-font-display=swap*/font-family:Canva Sans;font-style:normal;font-weight:400 700;src:/*savepage-url=images/cff149ee1e9d2be50ac77bcd86769d05.woff2*/url() format("woff2"),/*savepage-url=images/f93a5165fac252ecfd593929c4e6146f.woff*/url() format("woff");unicode-range:u+0020-007e,u+00a0,u+00a2-00a9,u+00ac-00ae,u+00b0,u+00b4-00b7,u+00d7,u+00f7,u+0300-0304,u+0306-0308,u+030a-030c,u+0312,u+0326-0328,u+2013-2014,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2117,u+2120,u+2122,u+2190-2199,u+fb01-fb02,u+feff,u+fffc-fffd}

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 900; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 900; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 800; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 800; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 600; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 500; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 500; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 300; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 300; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 200; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 200; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 100; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 100; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 700; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 700; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: italic; font-weight: 400; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 400; src: url(/_assets/fonts/f079f63283f90304e7afe4b28fd1950b.woff2) format("woff2"); }

@font-face { font-family: YAFdJsyuOPM_1; font-style: normal; font-weight: 600; src: url(/_assets/fonts/f9171825d9d4f304b2a982dc5b947d22.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 900; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 900; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 800; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 800; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 600; src: url(/_assets/fonts/10bae089b2dee90878d1d146921cad11.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 500; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 500; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 300; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 300; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 200; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 200; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 100; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 100; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 700; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: italic; font-weight: 400; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 900; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 900; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 800; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 800; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 600; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 600; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 500; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 500; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 300; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 300; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 200; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 200; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 100; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 100; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 700; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: italic; font-weight: 400; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 900; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 900; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 800; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 800; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 600; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 600; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 500; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 500; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 300; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 300; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 200; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 200; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 100; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 100; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 700; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 700; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: italic; font-weight: 400; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAGLy38gVoc_0; font-style: normal; font-weight: 400; src: url(/_assets/fonts/304da6bb759f7c1e6948d63f119e0b82.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 700; src: url(/_assets/fonts/1895946c94ec0003d1cf34f75ce19d84.woff2) format("woff2"); }

@font-face { font-family: YAFcfr0ZwUA_0; font-style: normal; font-weight: 400; src: url(/_assets/fonts/161d1b56460d09660b2114be20502ca2.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 400; src: url(/_assets/fonts/881b8da5ad9b82b143ab37dcdf069c4c.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 700; src: url(/_assets/fonts/527cd5a6be21d4e008281f52ae03e6de.woff2) format("woff2"); }

@font-face { font-family: YAFdtQi73Xs_0; font-style: normal; font-weight: 600; src: url(/_assets/fonts/10bae089b2dee90878d1d146921cad11.woff2) format("woff2"); }